<div class="pwa-generator-field">
    <label class="pwa-generator-label">Background Color <a class="pwa-generator-link" href="https://www.w3.org/TR/appmanifest/#background_color-member" target="_blank">[?]</a></label>
    <div class="pwa-generator-options">
        <label class="pwa-generator-label">
            {{generator-radio-button value='none' checked=colorOption}}
            None
        </label>
        <label class="pwa-generator-label">
            {{generator-radio-button value='transparent' checked=colorOption}}
            Transparent
        </label>
        <label class="pwa-generator-label">
            {{generator-radio-button value='pick' checked=colorOption}}
            Custom color
        </label>
        {{#if canChooseColor}}
            {{#if checkInputColor}}
                {{input class="pwa-generator-input pwa-generator-input--tiny" type="color" name="background_color" value=color}}
            {{/if}}
            {{input class="pwa-generator-input pwa-generator-input--small" placeholder="#000000" name="background_color" value=colorText focus-out="updateModel"}}
        {{/if}}
    </div>
</div>