<button {{bind-attr class=":btn isEnabled:isEnabled"}} {{action "handleClick"}}>
  {{linkMessage}}
  {{#if isBuilding}}{{fa-icon "circle-o-notch fa-spin"}}{{/if}}
  {{#if isNotBuilding}}{{fa-icon "download"}}{{/if}}
</button>
{{yield}}
