<button class="pwa-button pwa-button--simple {{if isColored 'pwa-button--brand'}} {{if isEnabled 'isEnabled'}}" {{action "handleClick"}}>
  {{linkMessage}}
  {{#if isBuilding}}
    <span class="pwa-generator-loading">
      {{fa-icon "circle-o-notch fa-spin"}}
    </span>
  {{/if}}
</button>
{{yield}}
