<p>
  <button class="pwa-button pwa-button--simple {{if isColored 'pwa-button--brand'}} {{if isEnabled 'isEnabled'}}" {{action "handleClick"}}>
    {{linkMessage}}
    {{#if isBuilding}}
      <span class="pwa-generator-loading">
        {{fa-icon "circle-o-notch fa-spin"}}
      </span>
    {{/if}}
  </button>
</p>
{{#if showDialog}}
<div class="pwa-modal">
  <div class="pwa-modal-box">
     <div class="pure-u-1-1 pwa-modal-tablec">
        <span class="pwa-generator-close" {{action 'close'}}>{{fa-icon "times"}}</span>
      </div>
    <div class="pwa-generator-space_top">
      <h5 class="pwa-modal-title pwa-modal-title--normal">
        Generate AppX
      </h5>
    </div>
    <div class="pwa-modal-body">
      <div class="pwa-generator-container">
        {{#if showError}}
          <div>
            <p>There was an error generating the AppX package:</p>
            <p class="pwa-generator-error">{{errorMessage}}</p>
            <p>Please try again.</p>
          </div>
        {{/if}}
        <div class="pwa-generator-box">
          <label class="pwa-generator-label">Enter your <a href="https://developer.microsoft.com/en-us/windows" target="_blank">Dev Center</a> details below in order to generate an AppX package you can upload to the store.<br/></label>
        </div>
        <div class="pwa-generator-box">
          <label class="pwa-generator-label">Publisher Display Name</label>
        </div>
          {{input class="pwa-generator-input pwa-generator-input--largest" value=name placeholder="Enter a Name or Company Name"}}
        {{#if missingName}}
          <p class="pwa-generator-error">
              <i class="fa fa-exclamation"></i> Please, provide the name or company name.
          </p>
        {{/if}}

        <div class="pwa-generator-box form-item">
          <label class="pwa-generator-label">Publisher Identity</label>
          <label class="pwa-generator-label">Found under Account Settings, Windows Publisher ID.</label>
        </div>
          {{input class="pwa-generator-input pwa-generator-input--largest" value=publisher placeholder="CN="}}
        {{#if missingPublisher}}
          <p class="pwa-generator-error">
              <i class="fa fa-exclamation"></i> Please, provide a publisher Identity.
          </p>
        {{/if}}

        <div class="pwa-generator-box form-item">
          <label class="pwa-generator-label">Package Family Name</label>
        </div>
          {{input class="pwa-generator-input pwa-generator-input--largest" value=package placeholder="Enter a valid Package Family Name"}}
        {{#if missingPackage}}
          <p class="pwa-generator-error">
              <i class="fa fa-exclamation"></i> Please, provide a package family name.
          </p>
        {{/if}}

        <div class="pwa-generator-box form-item">
          <label class="pwa-generator-label">Version Number (E.g. 1.0.0.0)</label>
        </div>
          {{input class="pwa-generator-input pwa-generator-input--largest" value=version placeholder="Enter a Package Version Number"}}
        {{#if missingVersion}}
          <p class="pwa-generator-error">
              <i class="fa fa-exclamation"></i> Please, provide a version number.
          </p>
        {{/if}}

        <div class="pwa-generator-box_buttons">
          <button class="pwa-generator-space_right pwa-button pwa-button--simple pwa-button--brand" {{action "accept"}}>
            Submit
            {{#if isBuilding}}
              <span class="pwa-generator-loading">
                {{fa-icon "circle-o-notch fa-spin"}}
              </span>
            {{/if}}
          </button>
          <button class="pwa-button pwa-button--simple" {{action "close"}}>
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{yield}}