<div class="pure-g pwa-generator-padded">
  <div class="pure-u-1 pure-u-md-3-5 pure-u-lg-2-5">
    <header class="pwa-generator-header pwa-generator-header--minimal">
      <h2 class="pwa-generator-title">Provide a URL</h2>
      <h4 class="pwa-generator-subtitle">
        Provide your URL and we'll help fill in the gaps if there are any.
      </h4>
    </header>

    <div class="pwa-generator-form">
      <div class="pwa-generator-field">
        <label class="pwa-generator-label">URL</label>
        {{input class='pwa-generator-input' name="siteUrl" type="url" value=siteUrl placeholder="Enter a URL" action="startComplete"}}
      </div>

      <div class="pure-g l-breath">
        <div class="pwa-generator-wrapper pure-u-3-5">
            <button {{bind-attr class=":get-started :pwa-button :isEnabled :next-step"}}
                    {{action 'startComplete'}}
                    data-flare='{"category": "Build", "action": "Step 2", "label": "Scan for Manifest", "value": { "page": "/build/manifest-scan" }}'>
                    Get Started
                    {{#if isSaving}}
                      <span class="pwa-generator-loading">
                        {{fa-icon "circle-o-notch fa-spin"}}
                      </span>
                    {{/if}}
          </button>
        </div>

        <div class="pure-u-2-5">
          {{#if message}}
            <p class="pwa-generator-error">{{fa-icon "exclamation"}} {{message}}</p>
          {{/if}}
        </div>

        {{#if startFailure}}
        <div class="pure-u-1">
          <p class="pwa-generator-error">{{fa-icon "exclamation"}} {{startFailure}}</p>
        </div>
        {{/if}}
        <div class="pwa-generator-wrapper pure-u-1">
          <button {{action 'goToSecondStep'}}
                  class="pwa-button pwa-button--simple"
                  data-flare='{"category": "Skip", "action": "Manifest", "label": "Skip to Service Worker", "value": { "page": "/skip/service-worker" }}'>
                  Skip to Build Service Worker
          </button>
        </div>
      </div>
      <p class="l-narrow">If you already have the Manifest and want to download the service worker source code you can skip the first step.</p>
    </div>
  </div>
</div>
