{{input value=logoUrl type="url" placeholder="URL for logo"}}
<button {{action 'addLogo'}}>+</button>

<div class="logos">
	{{#if logos}}
		<table class="generator-members">
			<thead>
				<tr>
					<th>Preview</th>
					<th>Source</th>
					<th>Size</th>
					<th>Remove</th>
				</tr>
			</thead>
	  	{{#each logo in logos}}
		    <tr>
		      <td><img class='icon-preview' src="{{logo.src}}" /></td>
		      <td>{{logo.src}}</td>
		      <td>{{logo.sizes}}</td>
		      <td><button {{action 'removeLogo' logo}}>-</button></td>
		    </tr>
	  	{{/each}}
	  	</table>
	{{/if}}
</div>

