{{#if members}}
<table class="generator-members">
  {{#each member in members}}
    <tr>
      <td>{{member.member_name}}</td>
      <td>{{json-stringify member.member_value}}</td>
      <td><button {{action 'removeMember' member}}>-</button></td>
    </tr>
  {{/each}}
</table>
{{/if}}
<p class="instructions alert"><i class="fa fa-exclamation {{if showAlert 'show' 'hidden'}}"></i> {{memberAlert}}</p>
<div class="form-group">
  <div class="form-item">
    <label for="member_name">Member Name</label>
    {{input id="member_name" name="member_name" value=member_name}}
  </div>
  <div class="form-item">
    <label>Member Value</label>
    {{textarea id="member_value" name="member_value" value=member_value}}
  </div>
  <div class="button-holder">
    <button {{action 'addMember'}}>+</button>
  </div>
</div>

