<div class="pwa-generator-field">
    <label class="pwa-generator-label">Member Name</label>
    {{input class="pwa-generator-input" name="member_name" value=member_name}}
</div>
<div class="pwa-generator-field">
    <label class="pwa-generator-label">Member Value</label>
    {{input class="pwa-generator-input" name="member_value" value=member_value}}
</div>

<div class="button-holder">
    <button class="pwa-button pwa-button--text pwa-button--right" {{action 'addMember'}}
            data-flare='{"category": "Manifest", "action": "Add Member", "label": "Add a Member", "value": { "page": "/manifest/add-member" }}'>
        Add Member
    </button>
</div>

<div class="pwa-generator-field pwa-generator-field--padded"></div>

{{#if showAlert}}
<p class="pwa-generator-error">
    <i class="fa fa-exclamation"></i> {{memberAlert}}
</p>
{{/if}}

{{#if members}}
    <div class="pure-g pwa-generator-table">
        {{#each member in members}}
            <div class="pure-u-4-5 pwa-generator-tablec">
                {{member.member_name}}
            </div>
            <div class="pure-u-1-5 pwa-generator-tablec pwa-generator-tablec--right">
                <span class="pwa-generator-close" {{action 'removeMember' member}}>{{fa-icon "times"}}</span>
            </div>
        {{/each}}
    </div>
{{/if}}