<button class="pwa-button pwa-button--text {{if isEnabled 'isEnabled'}}" {{action "showPopup"}}>
    {{message}}
</button>

{{#if showDialog}}
<div class="pwa-modal">
  <div class="pwa-modal-box">
    <div class="pure-u-1-1 pwa-modal-tablec">
      <span class="pwa-generator-close" {{action 'close'}}>{{fa-icon "times"}}</span>
    </div>
    <h5 class="pwa-modal-title pwa-modal-title--normal">
      Upload an image
    </h5>
    <div class="pwa-modal-body">
      <div class="pwa-generator-container">
        {{#if showErrorMessage}}
          <div>
            <p>There was an error uploading the image. Please try again.</p>
          </div>
        {{/if}}
        <div class="pwa-generator-box">
          <span class="pwa-generator-label">Upload image</span>
          <label class="pwa-generator-input pwa-generator-input--fake is-disabled" for="modal-file">
            {{fileName}}
          </label>
          {{file-input id="modal-file" class="l-hidden" action="uploadFile"}}
        </div>

        <div class="pwa-generator-field">
            <label>
              {{generator-checkbox checked=generateMissingSizes}} 
              Generate missing images from this image
            </label>
        </div>

        <div class="pwa-generator-box_buttons">
            <button class="pwa-generator-space_right pwa-button pwa-button--simple pwa-button--brand" {{action "accept"}}
                    data-flare='{"category": "Manifest", "action": "Add Member", "label": "Image Upload", "value": { "page": "/manifest/add-member" }}'>
              Submit
              {{#if isSaving}}
                  <span class="pwa-generator-loading">
                    {{fa-icon "circle-o-notch fa-spin"}}
                  </span>
                {{/if}}
            </button>
            <button class="pwa-button pwa-button--simple" {{action "close"}}
                    data-flare='{"category": "Manifest", "action": "Add Member", "label": "Image Upload - Cancel", "value": { "page": "/manifest/add-member" }}'>
              Cancel
            </button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{yield}}