<div class="pure-g l-max-width">
	<section class="pure-u-1 pure-u-md-4-4 l-bottom usage">
		<div class="page-intro">
			<h1 class="title">Deploy your hosted web app</h1>
			<p>Have a App Manifest file? Start deploying to these AppStores below.<br />Need one? {{#link-to 'generator'}}Start here{{/link-to}}.</p>

			<div class="notice-block">
				Looking for some debugging tools that work on all your platforms?  Try <a class="dark" href='http://www.vorlonjs.com'>vorlon.js</a>.  It makes mobile testing a breeze, and works inside the app manifoldJS apps.
			</div>
		</div>
		<div class="usage-block">
			<div class="titlecont">
				<span class="platform_icon">{{fa-icon "windows"}}</span>
				<h5 class="title">Windows</h5>
			</div>

			<h5 class='title'>Test</h5>
			<ol>
				<li>Your application uses the same rendering and JavaScript engine as the Microsoft Edge browser so most of your testing can be done on your website and in the browser.</li>
				<li>To test your application on a device download the manifoldJS test harness from the store and follow the directions.  Coming soon!</li>
				<li>To test locally, in the folder for your app, type "manifoldJS run windows"</li>
			</ol>

			<h5 class="title">Build</h5>
			<p><strong>With Visual Studio</strong></p>

			<ol>
        <li>Download and install Visual Studio (<a href='https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx'>community edition</a> works fine) and open the source code folder.</li>
				<li>Open the Project in Visual Studio</li>
				<li>Use the store commands from Visual Studio to create the app package.</li>
			</ol>

			<p><strong>With the Windows 10 SDK</strong></p>
			<ol>
				<li>Download <a href='http://dev.windows.com/en-US/windows-10-developer-preview-tools'>the Windows10 SDK</a> (must be running Windows 10 Technical preview)</li>
				<li>Build with <a href='https://msdn.microsoft.com/en-us/library/windows/desktop/hh446767(v=vs.85).aspx'>these instructions</a> for MakeAppX.</li>
			</ol>

			<h5 class='title'>Submit to Store</h5>
			<ol>
				<li>Set up a Microsoft Developer account <a href='http://dev.windows.com/en-us'>here</a>.</li>
				<li>Reserve the name of your app.</li>
				<li>Upload your appx package</li>
			</ol>
		</div>

		<hr />

        <div class="usage-block">
			<div class="titlecont">
				<span class="platform_icon">{{fa-icon "android"}}</span>
				<h5 class="title">Android</h5>
			</div>

			<h5 class='title'>Test</h5>
			<ol>
				<li>Your application uses the same rendering and JavaScript engine as the Chrome browser so most of your testing can be done on your website and in the browser.</li>
				<li>To test your application on a device download the manifoldJS test harness from the store and follow the directions.  Coming soon!</li>
				<li>To test locally, in the folder for your app, type "manifoldJS run Android"</li>
			</ol>

			<h5 class='title'>Build</h5>
			<ol>
				<li>Download and install the <a href='http://www.oracle.com/technetwork/java/javase/downloads/index.html'>Java SDK</a></li>
				<li><a href='http://developer.android.com/sdk/installing/index.html?pkg=studio'>Download</a> and install Android Studio and the Android SDK</li>
				<li>Open the Gradle file from Android Studio (import project)</li>
				<li>Use Build Menu to create package.</li>
			</ol>

			<h5 class='title'>Submit to Store</h5>
			<ol>
				<li>Set up an Android Developer account <a href='https://play.google.com/apps/publish/signup/'>here</a>.</li>
				<li>Reserve the name of your app.</li>
				<li>Upload your apk package</li>
			</ol>
		</div>

		<hr />

        <div class="usage-block">
			<div class="titlecont">
				<span class="platform_icon">{{fa-icon "apple"}}</span>
				<h5 class="title">iOS</h5>
			</div>

			<h5 class='title'>Test</h5>
			<ul>
				<li>Your application uses the same rendering and JavaScript engine as the Safari browser so most of your testing can be done on your website and in the browser.</li>
				<li>To test your application on a device download the manifoldJS test harness from the store and follow the directions.  Coming soon!</li>
			</ul>

			<h5 class='title'>Build</h5>
			<ul>
				<li>Download and install <a href='https://developer.apple.com/xcode/downloads/'>Xcode 6</a> or in the Apple Mac store</li>
				<li>Open the project file in the "iOS" folder from Xcode 6</li>
				<li>Use Build Menu to create package.</li>
			</ul>

			<h5 class='title'>Submit to Store</h5>
			<ul>
				<li>Register as an Apple developer <a href='(https://developer.apple.com/register/'>here</a>.</li>
				<li>Reserve the name of your app.</li>
				<li>Submit app package from store</li>
			</ul>
		</div>

		<hr />

        <div class="usage-block">
			<div class="titlecont">
				<span class="platform_icon">{{fa-icon "google"}}</span>
				<h5 class="title">Chrome OS</h5>
			</div>

			<h5 class='title'>Test</h5>
			<ol>
				<li>Your application uses the same rendering and JavaScript engine as the Chrome browser so most of your testing can be done on your website and in the browser.</li>
				<li>To test your application on a device download the manifoldJS test harness from the store and follow the directions.  Coming soon!</li>
				<li>To test locally, open chrome and open the settings.  Then open extensions.  Check the button that says "developer mode" then select "load unpacked extension".  Navigate to the Chrome folder and load it.</li>
			</ol>

			<h5 class='title'>Submit to Store</h5>
			<ol>
				<li>Register your site with Google <a href='https://support.google.com/webmasters/answer/34592?hl=en'>developer dashboard</a></li>
				<li>Create a zip file from the contents of the "Chrome" folder.</li>
				<li>Create a <a href='https://chrome.google.com/webstore/developer/dashboard'>Chrome dev account</a></li>
				<li>Reserve the name and get <a href='https://developer.chrome.com/webstore/publish'>app constants</a>.</li>
				<li>Submit app package to the store</li>
			</ol>
		</div>

		<hr />

        <div class="usage-block">
			<div class="titlecont">
				<span class="platform_icon">{{fa-icon "globe"}}</span>
				<h5 class="title">Firefox OS</h5>
			</div>

			<h5 class='title'>Test</h5>
			<ol>
				<li>Your application uses the same rendering and JavaScript engine as the FireFox browser so most of your testing can be done on your website and in the browser.</li>
				<li>To test your application on a device download the manifoldJS test harness from the store and follow the directions. Coming soon!</li>
				<li>To test locally:
					<ol>
						<li>Find the FF manifest in the "FireFox" folder and upload to your website</li>
						<li>Adjust the headers of your .webapp file type as seen <a href='https://developer.mozilla.org/en-US/Apps/Build/Manifest#Serving_manifests'>here</a></li>
						<li>Open the developer tools from within the FireFox browser.  Open FireFox WebIDE, and select "open hosted app".  You will be prompted for the address of your manifest.</li>
						<li>Load simulator for FF OS.</li>
					</ol>
				</li>
			</ol>

			<h5 class='title'>Submit to Store</h5>
			<ol>
				<li>Find the FF manifest in the "FireFox" folder and upload to your website</li>
				<li>Adjust the headers of your .webapp file type as seen <a href='https://developer.mozilla.org/en-US/Apps/Build/Manifest#Serving_manifests'>here</a></li>
				<li>Create a <a href='https://marketplace.firefox.com/developers/submit/'>FireFox OS dev account</a></li>
				<li>Submit your site to the store <a href='https://marketplace.firefox.com/developers/submit/'>here</a></li>
			</ol>
		</div>
	</section>
</div>
