<ol class="generator-step-list">
  {{#generator-step step="1" nextStep="2" stepTitle="Create Your Manifest" isShowingBody=steps.step1.isCurrent data=model action="updateStep"}}
  <p class="instructions">Here are the values we picked up from your site. Update or add any details below.</p>
  <div class="form-item">
    <label>Name</label>
    {{input value=model.manifest.name focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Short Name</label>
    {{input name="short_name" value=model.manifest.short_name focus-out="updateModel"}}
  </div>
  <div class="form-item logo-upload">
    <label>Icon Url</label>
    {{logo-upload action="updateLogos" logos=model.manifest.icons baseUrl=model.manifest.start_url}}
  </div>
  <div class="form-item">
    <label>Scope</label>
    {{input value=model.manifest.scope focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Start Url</label>
    {{input value=model.manifest.start_url focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Display</label>
    {{generator-select content=model.display.names modelProperty="manifest.display" value=model.manifest.display}}
  </div>
  <div class="form-item">
    <label>Orientation</label>
    {{generator-select content=model.orientation.names modelProperty="manifest.orientation" value=model.manifest.orientation}}
  </div>
  {{/generator-step}}
  {{#generator-step step="2" nextStep="3" stepTitle="Deploy Your Service Worker" isShowingBody=steps.step2.isCurrent data=model action="updateStep" }}
  <p class="instructions">Select the service workers for your app.</p>
  {{/generator-step}}
  {{#generator-step step="3" nextStep="4" stepTitle="Custom Values" isShowingBody=steps.step3.isCurrent data=model action="updateStep" }}
  <p class="instructions">Specify custom members to be added to the manifest.</p>
  <div class="form-item">
    {{#member-list action="manageMember" members=customMembers}}{{/member-list}}
  </div>
  {{/generator-step}}
  {{#generator-step step="4" showNextStep=false stepTitle="Publish" isShowingBody=steps.step4.isCurrent data=model action="updateStep" }}
  <p class="instructions">Generate the packages for your preferred platform.</p>
  <p>
     <span>Web</span>
     {{#download-archive class="button-holder download-archive" initialMessage="Download files for your website" isBuilding=model.isBuilding.web buildFailed=model.buildFailed.web action="buildArchive" platform="web" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
  </p>
  <p>
     <span>Windows 10</span>
     {{#publish-package class="button-holder download-archive" initialMessage="Publish package" isBuilding=model.isBuilding.Win10Publish buildFailed=model.buildFailed.Win10Publish publishSuccedded=model.publishSuccedded action="publishWin10Package" publishName=model.name publishEmail=model.email}}{{/publish-package}}
     {{#download-archive class="button-holder download-archive" initialMessage="Download package for self-publishing" isBuilding=model.isBuilding.windows10 buildFailed=model.buildFailed.windows10 action="buildWin10Package" platform="windows10" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
  </p>
  <p>
     <span>Polyfills (Windows, Android, iOS)</span>
     {{#download-archive class="button-holder download-archive" initialMessage="Download packages for self-publishing" isBuilding=model.isBuilding.Polyfills buildFailed=model.buildFailed.Polyfills action="buildArchive" platform="Polyfills" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
  </p>
  {{/generator-step}}
</ol>