<ol class="generator-step-list">
  {{#generator-step step="1" nextStep="2" stepTitle="Site Data" isShowingBody=steps.step1.isCurrent data=model action="updateStep"}}
  <p class="instructions">Here are the values we picked up from your site. Update or add any details below.</p>
  <div class="form-item">
    <label>Name</label>
    {{input value=model.manifest.name focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Short Name</label>
    {{input name="short_name" value=model.manifest.short_name focus-out="updateModel"}}
  </div>
  <div class="form-item logo-upload">
    <label>Icon Url</label>
    {{logo-upload action="updateLogos" logos=model.manifest.icons baseUrl=model.manifest.start_url}}
  </div>
  <div class="form-item">
    <label>Scope</label>
    {{input value=model.manifest.scope focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Start Url</label>
    {{input value=model.manifest.start_url focus-out="updateModel"}}
  </div>
  <div class="form-item">
    <label>Display</label>
    {{generator-select content=model.display.names modelProperty="manifest.display" value=model.manifest.display}}
  </div>
  <div class="form-item">
    <label>Orientation</label>
    {{generator-select content=model.orientation.names modelProperty="manifest.orientation" value=model.manifest.orientation}}
  </div>
  {{/generator-step}}
  {{#generator-step step="2" showNextStep=false stepTitle="Custom Values" data=model action="updateStep"isShowingBody=steps.step2.isCurrent }}
  <p class="instructions">Specify custom members to be added to the manifest.</p>
  <div class="form-item">
    {{#member-list action="manageMember" members=customMembers}}{{/member-list}}
  </div>
  {{/generator-step}}
</ol>
