<ul class="generator-tabs">
  {{#each step in steps}}
  {{#generator-tab step=step.step}}
  <a>{{step.step}}. {{step.stepTitle}}</a>{{/generator-tab}}
  {{/each}}
</ul>
<ul class="generator-step-list">
  {{#generator-step step="1" nextStep="2" stepTitle="Create Your Manifest" data=model action="updateStep" showNextStep=startComplete}}
  {{#if startComplete}}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 generator-section form-holder">
      <p class="instructions">Here are the values we picked up from your site. Update or add any details below.</p>
      <div class="form-item">
        <label>Name</label>
        {{input value=model.manifest.name focus-out="updateModel"}}
      </div>
      <div class="form-item">
        <label>Short Name</label>
        {{input name="short_name" value=model.manifest.short_name focus-out="updateModel"}}
      </div>
      <div class="form-item logo-upload">
        <label>Icon Url</label>
        {{logo-upload action="updateLogos" logos=model.manifest.icons baseUrl=model.manifest.start_url}}
      </div>
      <div class="form-item">
        <label>Scope</label>
        {{input value=model.manifest.scope focus-out="updateModel"}}
      </div>
      <div class="form-item">
        <label>Start Url</label>
        {{input value=model.manifest.start_url focus-out="updateModel"}}
      </div>
      <div class="form-item">
        <label>Display</label>
        {{generator-select content=model.display.names modelProperty="manifest.display" value=model.manifest.display}}
      </div>
      <div class="form-item">
        <label>Orientation</label>
        {{generator-select content=model.orientation.names modelProperty="manifest.orientation" value=model.manifest.orientation}}
      </div>

      <h2 class="toggle-title" {{action "toggleCustomMembers"}}>Specify custom members to be added to the manifest.</h2>
      {{#if showCustomMembers}}
      <div class="form-item">
        {{#member-list action="manageMember" members=customMembers}}{{/member-list}}
      </div>
      {{/if}}
    </div>
    <div class="pure-u-1 pure-u-md-1-2 generator-section manifest manifest-holder" id="manifest_holder">
      <header>
        <h2 class="generator-section-title">W3C Manifest{{#if isProcessing}} {{fa-icon "circle-o-notch fa-spin"}}{{/if}}</h2>
        <p class="generator-issues-notification">
          {{#skip-link class="issues-title-errors" anchor="#errors_list"}}Errors ({{model.errorsTotal}}){{/skip-link}},
          {{#skip-link class="issues-title-warnings" anchor="#warnings_list"}}Warnings ({{model.warningsTotal}}){{/skip-link}},
          {{#skip-link class="issues-title-suggestions" anchor="#suggestions_list"}}Suggestions ({{model.suggestionsTotal}}){{/skip-link}}
        </p>
      </header>
      {{partial "generator-preview"}}
    </div>
  </div>
  {{else}}
  {{#generator-start isSaving=model.isSaving action="startComplete" class="generator-start step"}}{{/generator-start}}
  {{/if}}
  {{/generator-step}}

  {{#generator-step step="2" nextStep="3" stepTitle="Deploy Your Service Worker" data=model action="updateStep" showNextStep=startComplete}}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2 generator-section service-workers">
      <p class="instructions">Select the service workers for your app.</p>
      {{#each worker in model.serviceWorkers}}
        <div class="form-item checkbox">
          {{input type="checkbox" checked=worker.isSelected focus-out="updateModel" disabled=worker.isDisabled }}
          <label>{{worker.name}}</label>
          
          <span class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pellentesque tempus magna ac lobortis. Sed vel porttitor felis, ac porta sapien. Curabitur iaculis commodo tristique. Sed sed massa diam. Donec sagittis lacinia blandit. Fusce et massa leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eleifend velit a risus pharetra, imperdiet imperdiet magna consectetur. Curabitur vel rutrum nisl, ut maximus arcu.</span>
        </div>
      {{/each}}
    
      {{#download-archive class="button-holder download-archive" initialMessage="Download service worker" isBuilding=model.isBuilding.serviceWorker buildFailed=model.buildFailed.serviceWorker action="downloadServiceWorker" platform="serviceWorker" isEnabled=model.hasServiceWorkersSelected}}{{/download-archive}}
    </div>

    <div class="pure-u-1 pure-u-md-1-2 generator-section manifest manifest-holder">
      <header>
        <h2 class="generator-section-title">Code for website</h2>
      </header>
      <div class="generator-service-worker-code">
        {{formatted-manifest data=formattedServiceWorkerWebsiteCode}}
      </div>

      <header>
        <h2 class="generator-section-title">Service worker code</h2>
      </header>
      <div class="generator-service-worker-code">
        {{formatted-manifest data=formattedServiceWorkerCode}}
      </div>
    </div>
  </div>
  {{/generator-step}}


  {{#generator-step step="3" stepTitle="Publish" showNextStep=false data=model action="updateStep" }}
  {{#if startComplete}}
  <div class="publish-container">
    <h1>Publish PWA</h1>
    <div class="publish-header">
      <div>
        <h2>Web</h2>
        {{#download-archive class="button-holder download-archive" initialMessage="Download" isBuilding=model.isBuilding.web buildFailed=model.buildFailed.web action="buildArchive" platform="web" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum nulla viverra sagittis bibendum. Fusce tempus leo eget risus fringilla, vel pharetra sapien lacinia. Donec ut viverra mauris, in luctus nulla. Nulla aliquet quis turpis a pretium. Etiam eget iaculis.</p>
      </div>
      <div>
        <h2>Windows</h2>
        {{#download-archive class="button-holder download-archive" initialMessage="Download" isBuilding=model.isBuilding.windows10 buildFailed=model.buildFailed.windows10 action="buildArchive" platform="windows10" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum nulla viverra sagittis bibendum. Fusce tempus leo eget risus fringilla, vel pharetra sapien lacinia. Donec ut viverra mauris, in luctus nulla. Nulla aliquet quis turpis a pretium. Etiam eget iaculis.</p>
        {{#publish-package class="button-holder download-archive" initialMessage="Publish 1-step" isBuilding=model.isBuilding.Win10Publish buildFailed=model.buildFailed.Win10Publish publishSuccedded=model.publishSuccedded action="publishWin10Package" publishName=model.name publishEmail=model.email}}{{/publish-package}}
      </div>
      <div>
        <h2>Android</h2>
        {{#download-archive class="button-holder download-archive" initialMessage="Download" isBuilding=model.isBuilding.android buildFailed=model.buildFailed.android action="buildArchive" platform="android" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus condimentum nulla viverra sagittis bibendum. Fusce tempus leo eget risus fringilla, vel pharetra sapien lacinia. Donec ut viverra mauris, in luctus nulla. Nulla aliquet quis turpis a pretium. Etiam eget iaculis.</p>
        {{#publish-package class="button-holder download-archive" initialMessage="Publish 1-step" isBuilding=model.isBuilding.Win10Publish buildFailed=model.buildFailed.Win10Publish publishSuccedded=model.publishSuccedded action="publishWin10Package" publishName=model.name publishEmail=model.email isEnabled=false }}{{/publish-package}}        
      </div>
    </div>
    <div class="publish-footer">
      <div>
        <h2>iOS Polyfill</h2>
        {{#download-archive class="button-holder download-archive" initialMessage="Download" isBuilding=model.isBuilding.ios buildFailed=model.buildFailed.ios action="buildArchive" platform="ios" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
      </div>
      <div>
        {{#download-archive class="button-holder download-archive download-primary" initialMessage="Download entire project" isBuilding=model.isBuilding.Polyfills buildFailed=model.buildFailed.Polyfills action="buildArchive" platform="Polyfills" download="downloadArchive" archiveLink=model.archiveLink}}{{/download-archive}}
      </div>
    </div>
  </div>
  
  {{else}}
  <p class="instructions">You need to create your manifest first.</p>
  <button class="button next-step" {{action "updateStep" "1"}}>Go to first step</button>
  {{/if}}
  {{/generator-step}}
</ul>

{{#if startComplete}}
<div class="step">
  <div class="button-holder">
    <p>
      <button {{action "startOver"}}>Start Over</button>
    </p>
    <p>{{#link-to 'deploy' classNameBindings=":usage-link :btn model.buildReady:show"}}<strong>Now:</strong> Learn how to distribute this package across different platforms{{/link-to}}</p>
    {{#if model.buildFailed}}
    <div class="build-errors">
      <h5>There were some errors while trying to build your project</h5>
      {{#each error in model.buildErrors}}
      {{#if error}}
      <p>{{error}}</p>
      {{/if}}
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
{{/if}}