<section class="manifest-body">
  {{formatted-manifest data=formattedManifest}}
</section>

<div class="pwa-generator-wrapper pwa-generator-wrapper--padded">
  {{#download-archive initialMessage="Download manifest" isBuilding=model.isBuilding.web buildFailed=model.buildFailed.web action="buildArchive" platform="web" download="downloadArchive" archiveLink=model.archiveLink isEnabled=model.hasNoErrors}}{{/download-archive}}
</div>

{{#if model.hasIssues}}
  <div class="pwa-generator-messages">

    {{#if model.warnings}}
    <div id="warnings_list">
      <h5 class="pwa-generator-subtitle">Warnings <span>({{model.warningsTotal}} {{pluralize-it "item" model.warningsTotal}})</span></h5>
      {{#each member in model.warnings}}
      {{partial "issue-list"}}
      {{/each}}
    </div>
    {{/if}}

    {{#if model.suggestions}}
    <div id="suggestions_list">
      <h5 class="pwa-generator-subtitle">Suggestions <span>({{model.suggestionsTotal}} {{pluralize-it "item" model.suggestionsTotal}})</span></h5>
      {{#each member in model.suggestions}}
      {{partial "issue-list"}}
      {{/each}}
    </div>
    {{/if}}

  </div>
{{/if}}
